body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020617;
  color: #e5e7eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.tempo-container {
  width: 100%;
  padding: 8px 0 4px 0;
}

.tempo-label {
  font-size: 18px;
  margin-bottom: 4px;
  color: #d1d5db;
}

.tempo-sub {
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 4px;
  display: block;
  color: #aeb3c2;
}

.tempo-slider {
  width: 100%;
  margin-bottom: 4px;
  appearance: none;
  height: 6px;
  background: #e5e7eb;
  border-radius: 999px;
  outline: none;
}

.tempo-slider::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background: #6366f1;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.tempo-slider::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: #6366f1;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}